/* Standard forms */

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form__group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.form__label {
    font-weight: 500;
}
.form__input {
    display: block;
    width: 100%;
    padding: 6px 40px 6px 15px;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    color: #333;
    /* background-color: #f6f9fc; */
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out;    
}
.form .dropdown {
    padding: 10px;
    border-radius: 0.35rem;
}

/* Search Form */

.search-form {
    display: flex;
    gap: 5px;
}
.search-form__magnifier {
    align-items: center;
    display: flex;
    justify-content: center;
}
.search-form__magnifier svg {
    height: 24px;
    width: 24px;
}
.search-form__input-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 400px;
}
.search-form__input {
    display: block;
    width: 100%;
    padding: 6px 40px 6px 15px;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    color: #333;
    background-color: #f6f9fc;
    border: 1px solid #f6f9fc;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out;    
}
.search-form__input::placeholder {
    color: #666;
}
.search-form__input:focus {
    background-color: #fff;
    border-color: #1EA7FD;
    outline: 0;
    box-shadow: none;
}
.search-form__reset {
    stroke-width: 1.4;
    -webkit-animation: fade-in .1s ease-in forwards;
    animation: fade-in .1s ease-in forwards;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    position: absolute;
    right: 10px;
}
.search-form__submit {
    outline: none;
    background-color: #1EA7FD;
    border: 1px solid #eee;
    color: white;
    padding: 0 15px;
    border-radius: 0.35rem;
    cursor: pointer;
}

/* Loose fields */

.dropdown {
    padding: 5px 6px 5px 6px;
    border-color: #ccc;
    border-radius: 0.8rem;
    cursor: pointer;
}
.dropdown:hover {
    border-color: #1EA7FD;
}
.dropdown:focus {
    border-color: #333;
}