@import './base.css';
@import './forms.css';

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.styled-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.styled-table thead tr {
  background-color: #fff;
  color: #000;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table th {
  cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.styled-table__flex {
  display: flex;
  justify-content: space-between;
}
.styled-table__flex:hover i {
  color: #000;
}

/* CSS */
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Icons */

.gg-sort-az, .gg-sort-za {
  /* This value will multiple the actual size  */
  --ggs: 0.9;
  color: #666;
}
.gg-sort-az:hover, .gg-sort-za:hover {
  /* This value will multiple the actual size  */
  color: red;
}
.gg-arrows-v-alt {
  --ggs: 0.8;
  color: #666;
}

/* Utility */

.hidden {
  display: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
